.footer {
  background-color: $brand-yellow;
  color: $brand-black;
  font-size: 14px;
  padding: 40px 0;
  strong { font-weight: 900; }

  a {
    color: $brand-black;
    &:hover {
      color: $brand-gray;
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }
}
