.intro {
  background-image: image-url('intro-bg.jpg');
  background-size: cover;
  background-position: center top;
  min-height: 620px;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: image-url('intro-bg@2x.jpg');
    background-size: cover;
    background-position: center top;
    min-height: 620px;
  }
}

.intro__title {
  line-height: 64px;
  font-weight: 900;
}

.intro__description { font-size: 18px; }

.intro__hero { padding: 1em 0 2em 0; }

.intro__btn { margin: 26px 0; }

@media screen and (max-width: 640px) {
  .intro__title {
    font-size: 50px;
    line-height: 1;
  }
}

@media screen and (max-width: 500px) {
  .intro__title { font-size: 42px; }
}

@media screen and (max-width: 440px) {
  .intro { min-height: 520px; }

  .intro__title {
    font-size: 30px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .intro__header,
  .intro__hero { padding: 10px 0; }

  .intro__title { margin-top: 0; }

  .intro__btn {
    margin: 20px auto;
    background: $brand-yellow;
  }
}
