.opensource {
  background-color: $brand-yellow;
  color: $brand-black;
  font-size: 14px;
  padding: 27px 0;
  strong { font-weight: 900;}

  a {
    color: $brand-black;
    display: block;
    &:hover { color: $brand-gray; text-decoration: none; }
  }

  p {
    margin: 0;
  }
  .title{
    margin-bottom: 10px;
  }
}
