.opensource {
  background-color: $brand-black;
  color: $brand-yellow;
  font-size: 14px;
  padding: 60px 0 50px;

  a {
    color: $brand-gray;
    display: block;
    &:hover {
      color: $brand-yellow;
      text-decoration: none;
    }
  }

  p {
    margin: 0;
  }

  .title{
    margin-bottom: 10px;
  }
}
