.passion {
  background: $brand-black;
  background-size: cover;
  text-align: center;
  padding: 30px 0;
}

.passion__title {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  font-weight: 300;
}
