.social-box {
  background: #f2f2f2;
  height: 20px;
  width: 20%;
  float: left;
  height: 120px;
  display: block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;

  &:hover {
    background: darken(#f2f2f2, 5%);
  }
}
