.card-box-group {
  margin: 40px 0;
}

.card-box {
  text-align: center;
}

.card-box__image {
  margin: 0 auto;
}

.card-box__svg {
  height: 80px;
}

.card-box__title {
  font-weight: 900;
  font-size: 22px;
}

.card-box__description {
  font-size: 14px;
}

.card-box__button {
  margin: 40px 0;
}
