.menu {
  list-style: none;
  padding: 14px 0;

  &__item {
    display: inline-block;

    & + & {
      margin-left: 20px;
    }
  }

  &__link {
    text-transform: uppercase;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    transition: all .15s ease-in-out;
    border-bottom: 2px solid transparent;
    height: 26px;
    display: block;

    &:hover {
      color: #000;
      border-bottom: 2px solid #000;
      height: 22px;
    }

    &--active {
      border-bottom: 2px solid #000;
      height: 22px;
    }
  }

}
