.menu {
  list-style: none;
  padding: 23px 0 0 0;

  &__item {
    display: inline-block;

    & + & {
      margin-left: 20px;
    }
  }

  &__link {
    text-transform: uppercase;
    cursor: pointer;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 3px;
    -webkit-transition: all .15s ease-in-out;
       -moz-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
         -o-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
    border-bottom: 2px solid transparent;
    height: 26px;
    display: block;

    &:hover,
    &:focus {
      color: #000;
      border-bottom: 4px solid #000;
      height: 22px;
    }
  }
}

@media screen and (max-width: 570px) {
  .menu {
    &__item {
      padding: 15px 0;

      & + & { margin-left: 0px;}
    }
    &__link {
      border: 0;
      height: 22px;
      &:hover,
      &:focus { border: 0; }
    }
  }
}
