.skew-container {
  position: relative;
  height: 130px;
}

.skew-line {
  position: absolute;
  overflow: hidden;
  height: 170px;
  width: 100%;
  left: 0;
  top: 0;
}

.skew-line__black {
  @extend .skew-line;
  .skew-up,
  .skew-up-right,
  .skew-down,
  .skew-down-right { background-color: white; }
  background-color: $brand-black;
}

.skew-up {
  position: absolute;
  width: 120%;
  height: 170px;
  z-index: 20;
  overflow: hidden;
  transform: rotate(-4deg);
  background: $brand-black;
  top: 95px;
}

.skew-up-right {
  position: absolute;
  left: -38%;
  width: 120%;
  height: 170px;
  z-index: 20;
  overflow: hidden;
  transform: rotate(5deg);
  background: $brand-black;
  top: 88px;
}

// ======= Down

.skew-down {
  position: absolute;
  width: 120%;
  height: 170px;
  z-index: 20;
  overflow: hidden;
  background: $brand-black;
  transform: rotate(-4deg);
  left: -10%;
  top: -70%;
}

.skew-down-right {
  position: absolute;
  left: -38%;
  width: 120%;
  height: 170px;
  z-index: 20;
  overflow: hidden;
  background: $brand-black;
  transform: rotate(6deg);
  left: 58%;
  top: -48%;
}

@media screen and (max-width: 621px) {
  .skew-down-right { transform: rotate(8deg); }
}

@media screen and (max-width: 462px) {
  .skew-down-right { transform: rotate(10deg); }
}

@media screen and (max-width: 350px) {
  .skew-down-right { transform: rotate(12deg); }
  .skew-down { transform: rotate(-7deg); }
}
