.skew-container {
  position: relative;
  height: 130px;
}

.skew-line {
  position: absolute;
  overflow: hidden;
  height: 170px;
  width: 100%;
  left: 0;
  top: 0;
}

.skew-line__black {
  @extend .skew-line;
  .skew-up,
  .skew-up-right,
  .skew-down,
  .skew-down-right { background-color: white; }
  background-color: $brand-black;
}

.skew-up {
  position: absolute;
  width: 120%;
  height: 170px;
  z-index: 20;
  overflow: hidden;
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(-4deg);
       -o-transform: rotate(-4deg);
          transform: rotate(-4deg);
  background: $brand-black;
  top: 95px;
}

.skew-up-right {
  position: absolute;
  left: -38%;
  width: 120%;
  height: 170px;
  z-index: 20;
  overflow: hidden;
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
       -o-transform: rotate(5deg);
          transform: rotate(5deg);
  background: $brand-black;
  top: 88px;
}

// ======= Down

.skew-down {
  position: absolute;
  width: 120%;
  height: 170px;
  z-index: 20;
  overflow: hidden;
  background: $brand-black;
  -webkit-transform: rotate(-4deg);
     -moz-transform: rotate(-4deg);
       -o-transform: rotate(-4deg);
          transform: rotate(-4deg);
  left: -10%;
  top: -70%;
}

.skew-down-right {
  position: absolute;
  left: -38%;
  width: 120%;
  height: 170px;
  z-index: 20;
  overflow: hidden;
  background: $brand-black;
  -webkit-transform: rotate(6deg);
     -moz-transform: rotate(6deg);
       -o-transform: rotate(6deg);
          transform: rotate(6deg);
  left: 58%;
  top: -48%;
}

@media screen and (max-width: 621px) {
  .skew-down-right {
    -webkit-transform: rotate(8deg);
       -moz-transform: rotate(8deg);
         -o-transform: rotate(8deg);
            transform: rotate(8deg);
  }
}

@media screen and (max-width: 462px) {
  .skew-down-right {
    -webkit-transform: rotate(10deg);
       -moz-transform: rotate(10deg);
         -o-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@media screen and (max-width: 350px) {
  .skew-down-right {
    -webkit-transform: rotate(12deg);
       -moz-transform: rotate(12deg);
         -o-transform: rotate(12deg);
            transform: rotate(12deg);
  }
  .skew-down {
    -webkit-transform: rotate(-7deg);
       -moz-transform: rotate(-7deg);
         -o-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
}
